/vendor
/.idea
/reports
Homestead.json
Homestead.yaml
.env
.buildpath
.project
.settings
_ide_helper.php
.phpstorm.meta.php
checkstyle.xml
/node_modules
composer-lock.json
package-lock.json
/storage
/tmp